# Core Data Science and ML packages
pandas==2.3.1
numpy==1.26.4
matplotlib==3.10.5
scipy==1.16.0
scikit-learn==1.4.2
scikit-learn-extra==0.3.0

# Jupyter and development
jupyter==1.1.1
jupyterlab==4.4.5
ipython==9.4.0

# Additional useful packages
opencv-contrib-python
pytesseract==0.3.13
pillow==11.3.0
requests==2.32.4
pyyaml==6.0.2

# Survival analysis
lifelines==0.30.0
autograd==1.8.0
autograd-gamma==0.5.0

# Utilities
tqdm==4.67.1
python-dateutil==2.9.0

# API clients
openai==1.98.0

# Deploy
gunicorn==21.2.0